body{
  margin: 0;
  padding: 0;
  background-color: #141313;
  color: azure;
}
.header-container{
  background-color: aqua;
  display: flex;
  justify-content: center;
  
}

ul {
list-style: none;
display: flex;

}

.menu-link a{
  display: flex;
  margin-right: 30px;
  color: red;
  text-decoration: none;
  font-family:  'Arial Narrow', Arial, sans-serif;
}

.menu-link a:hover{
  color: blue;
}

ul .logo{
  display: flex;
  margin-right: 790px;
  font-size: .8em;
  
  color: black;
}

.footer{
  display: flex;
  margin-top: 500px;
  scroll-behavior: none;
  justify-content: center;
  font-family:  'Arial Narrow', Arial, sans-serif;
  color: red;
  background-color: aqua;

}

.hero-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  color: rgb(227, 227, 243);
  background-color: black;
  font-family:  monospace;
  
}

.body-container{
  display: flex;
  justify-content: center;
  font-family:  'Arial Narrow', Arial, sans-serif;
  color:aqua;
  padding-top: 50px;
}

.span-text{
  font-size: 1.5em;
  color:aqua;
  
}

.span-name{
 color:rgb(65, 163, 163);
 margin-left: 100px; 
 line-height: 80px;
 
}


.connect-btn{
  margin-top: 13px;
  border: 1px solid;
  border-radius: 50px;
  margin-left:400px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;
  background-color: #020505;
  border-color: rgb(164, 230, 230);
  cursor: pointer;
}

.resume-btn{
  border: 1px solid;
  border-radius: 50px;
  margin-left:10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;
  background-color: #020505;
  border-color: rgb(164, 230, 230);
  cursor: pointer;
}

.connect-btn:hover{
  background-color: rgb(164, 230, 230);
  color: black;
}
.resume-btn:hover{
  background-color: rgb(164, 230, 230);
  color: black;
}

.profile-container img{
  width: 400px;
  height: 300px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;
}
.profile-container{
  display: flex;

  
  margin-top: 10px;
  
}

.profile-container p{
 
padding-left: 20px;
  padding-right: 20px ;
  margin-top: 15px;
  font-family:   Arial, sans-serif;
  
}
.about-me-txt{
display: flex;

  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;


  /* color: red; */
 /*  background-color: rgb(0, 174, 255); */
}

.service-heading{
  display: flex;
  justify-content: center;
  color:aqua;
  font-family: Arial, Helvetica, sans-serif;
}

.services-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
  margin-top: 50px;
  padding: 10px 80px 10px 80px;
  
  color:aqua;
  font-family: Arial, Helvetica, sans-serif;
}

.about-skills{
  display: flex;
  flex-direction: column;
  gap: 10px;
/*   border: 2px solid rgb(38, 0, 255); */
  margin-top: 10px;
}

.web{
  display: flex;
  justify-content: center;
  border: 2px solid aqua;
  line-height: 200px;
  border-radius: 10px;
  color: azure;
}

.web:hover{
  cursor: pointer;
  background-color: #28e0f8;
  color: #020505;
  /* background-image: url(./assets/background.jpg);
  width: 100%;
  height: 100%;
  object-fit: cover; */
}
